name: CI Zinc App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # --- Job 1: Build
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # - name: Create .env
      #   run: echo "DJANGO_SECRET_KEY=${{ secrets.ENV }}" >> zinc_app/envs/.env
        
      - name: Build image
        run: docker build -t zinc_app:latest .

      - name: Save image as tar
        run: docker save zinc_app:latest -o zinc_app.tar

      - uses: actions/upload-artifact@v4
        with:
          name: zinc-app-image
          path: zinc_app.tar

# --- Job 2: Test
  Test_and_Push:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: zinc-app-image
          path: .

      - name: Load Zinc App image
        run: docker load -i zinc_app.tar

      - name: Set up environment file
        run: echo "${{ secrets.ENV }}" > .env

      - name: Run test
        run: |
          docker run -d --env-file .env --name zinc_app_container zinc_app:latest
          echo "â³ Waiting for container to become healthy or ready..."
          for i in {1..30}; do
            if docker exec zinc_app_container curl -f http://localhost:${{ secrets.ENV.GUNICORN_PORT }}/health/ > /dev/null 2>&1; then
              echo "Container is ready!"
              break
            fi
            echo "Waiting... ($i)"
            sleep 2
          done

          docker exec zinc_app_container make run-test

      - name: Run migrations
        run: docker exec zinc_app_container make run-migrations
        
      - name: Push to DockerHub
        run: |
          echo "${{ secrets.TOKEN_DOCKER_HUB }}" | docker login -u ${{ secrets.USER_DOCKER_HUB }} --password-stdin
          docker tag zinc_app:latest ${{ secrets.USER_DOCKER_HUB }}/zinc_app:latest
          docker push ${{ secrets.USER_DOCKER_HUB }}/zinc_app:latest

  # Deploy:
  # echo "${{ secrets.TOKEN_DOCKER_HUB }}" | docker login -u ${{ secrets.USER_DOCKER_HUB }} --password-stdin
  # docker rmi -f ${{ secrets.USER_DOCKER_HUB }}/zinc_app:latest
  # docker stop zinc_app_container && docker remove zinc_app_container
  # docker run -d -p 5000:5000 --name zinc_app_container zinc_app

    